$yellow: #FED766;
$white: #FEFFFE;
$anotherWhite: #FCFCFC;
$lavenderwhite: #F0E6EF; // background
$lavender: #E9EBF8; // buttons
$paleblue: #D9F0FF;
$grey: #B4B8C5;
$greyone: #828282; // p li
$purple: #9E768F;
$dark : #8D818C;
$darkpurple : #371E30;  //background
$darkgrape: #272635;


$quartzpurple: #9888A5;

$playfair : "Playfair Display", serif;
$nunito : "Nunito", sans-serif;


