@import './variables';


.aboutMe {
    display: flex; flex-direction: row; justify-content: space-between;
    // border: 1px solid black;

    &__content {
        background-color: $darkgrape;
        display: flex; flex-direction: column; align-items: start;
        border: 1px solid $grey;
        border-radius: 20px;
        width:40%;
        padding: 15px;
        &__resume {

        }
        
    }

    &__frame {
        display: flex; justify-content: center; align-items: center;
        border: 1px solid black;
        width: 50%;

        &__photo {
            width: 350PX;
            height: 350PX;
            object-fit: cover;
            border-radius: 100%;
        }
    }

}