.badge {
    border: 1px solid #ddd;
    padding: 10px;
    display: inline-block;
    text-align: center;
    width: 150px;
    margin: 10px;
  }
  
  .badge__tech__logo {
    width: 50px;
    height: 50px;
  }
  
  .badge__tech__skills {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
  }
  