@import './variables';

.badge {
  position: relative;
  overflow: hidden;
  min-width: 100px;
  max-width: 400px;
  max-height: 200px; // modifier la height max quand le vw diminue
  background-color: rgba(249, 250, 255, 1);
  border: 1px solid $grey;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  &:hover {
    cursor: pointer;
  }



  &__frame {
    position: relative;
    z-index: 1;
    display: flex; justify-content: space-between; flex-direction: row;
    width: 100%;
    height: 100%; 
    background-color: rgba(249, 250, 255, 1);
    border-radius: 15px;

    // &.noticed {
    //   position: absolute;
    //   z-index: 4;
    //   width: 400px;
    //   height: 200px;
    //   display: block;

    // }
    // &.unnoticed {
    //   position: relative;
    // }

    &__tech {
      display: flex; justify-content: start; flex-direction: column; align-items: center;
      // width: 33%;
      // height: 75%;
     
      

      &__logo {
        position: relative;
        overflow: hidden;
        z-index: 3;
        padding: 10px;
        object-fit:contain;
        width: 90px;
        height: 90px;


      }
      &__name {
        margin: 0px;
        text-align: center;
        font-size: 900;
        &.visible {
          display: inline;
        }
        &.invisible {
          display: none;
        }
      }
    }
    &__skills {
      
      position: relative;
      z-index: 2;
      width: 60%;
      overflow: hidden;
      transition: transform 0.2s ease, max-width 0.2s ease, max-height 0.5s ease;
      &.open {
        transform: translateX(0);
        max-width: 300px; 
        max-height: 200px; // augmenter la height max quand le vw diminue

      }
      &.closed {
        transform: translateX(100%);
        max-width: 0;
        max-height: 0;

      }


      & li {
        // margin-right: 8px;
        // margin-top: 8px;
        margin: 8px 8px 8px 0px;  
      }

    }
    
  }
}