@import './variables.scss';
@import './mixins.scss';

.card {
    position: relative;
    z-index: 1;
    display: flex; flex-direction: row; justify-content: space-between;
    background-color: $darkgrape;
    border-radius: 20px;
    border: 1px solid $grey;
    &__content {
        display: flex; flex-direction: column; justify-content: space-between;
        padding: 15px;
        width: 45%;
        &__btn {
            @include button;
            
        }
    }
    &__cover {
        width: 50%;
        border: 1px solid white;
        border-radius: 0px 20px 20px 0px;
    }
}
