@import './variables';

.header {
    
    &__frame {
        position: relative;
        z-index: 10;
        
        display: flex; flex-direction: row; justify-content: space-between;
        align-items: center;

        &__txt {
            font-size: 18px;
            font-weight: bold;
        }

        &__nav {
            display: flex; flex-direction: row; justify-content: flex-end;
            column-gap: 48px;
            a {
                color: $purple;
                text-decoration: none;


                &:visited {
                    color: $purple;
                 }                
                &:hover {
                    color: $yellow;
                }
            }
        }
    }
}