@import './variables';

.header {
    background-color: $darkgrape;
    border-radius: 20px 20px 0px 0px;
    // border: 1px solid $grey; border-top: none;
    z-index: 1;
    @media (max-width: 480px) { // Affichage smartphone
        border-radius: 0px;
      }
    
    &__frame {
        position: relative;
        z-index: 10;
        
        display: flex; flex-direction: row; justify-content: space-between;
        align-items: center;
        padding: 0px 15px;
        font-family: $nunito;
        @media (max-width: 480px) { // Affichage smartphone
            justify-content: center; flex-wrap: wrap;
            padding-bottom: 10px;
          }

        &__txt {
            font-size: 18px;
            // font-weight: bolder;
            color: $paleblue;
            
        }

        &__nav {
            display: flex; flex-direction: row; justify-content: flex-end;
            column-gap: 48px;
            a {
                color: $purple;
                text-decoration: none;


                &:visited {
                    color: $paleblue;
                 }                
                &:hover {
                    color: $yellow;
                    border-bottom: 1px solid yellow;
                }
            }
        }
    }
}