@import './variables';
.home-page{
    width: 100% ; 
    margin-top: 54px;

    &__intro {
        width: 100%;
        display: flex; flex-direction: row; justify-content: left;

        &__txt {
            max-width: 41%;
            padding: 15px;
            background-color: rgba(249, 250, 255, 1);
            border: 1px solid $grey;
            border-radius: 20px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }

        &__frame{
            position: absolute;
            width: 40vw;
            max-width: 576px;
            top: 0px;
            right: 0px;
            border-radius: 100% 0% 0% 100% / 0% 100% 0% 100%;

            &__photo {
                position: relative;
                object-fit: cover;
                width: 40vw;
                max-width: 576px;
                border-radius: 100% 0% 0% 100% / 0% 100% 0% 100% ;
                
            }
        }

        &__badges {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 400px));
            grid-auto-rows: minmax(100px, 150px); 
            justify-content: center;
            place-items: center; 
            row-gap: 1vw;  // Augmenter le gap avec un media query quand le vw diminue
        }



    }
}