@import './variables';
.home-page{
    width: 100% ; 
    margin-top: 40px;

    &__intro {
        max-width: 780px;
        width: 55vw;

        
        border-radius: 0px 20px 20px 20px;
        box-shadow: rgba(136, 90, 137, 0.4) 5px 5px, 
        rgba(136, 90, 137, 0.3) 10px 10px, 
        rgba(136, 90, 137, 0.2) 15px 15px;

        display: flex; flex-direction: column; justify-content: space-between;
        @media (max-width: 1150px) { // Affichage smartphone
            width: 65vw;
          }
          @media (max-width: 1050px) { // Affichage smartphone
            width: 70vw;
          }
        @media (max-width: 800px) { // Affichage smartphone
            width: 85vw;
          }
          @media (max-width: 600px) { // Affichage smartphone
            width: 100%;
          }

        &__title {
            padding: 15px;
            border-radius: 0px 20px 0px 0px;
            background-color: $darkgrape;         
            border: 1px solid $grey;

        }
        &__txt *{
            padding: 15px;
            border-radius: 0px 20px 20px 0px;
            background-color: $lavenderwhite;
            color: $darkgrape;
            font-size: 20px;
        }

        &__frame{
            position: absolute;
            width: 40vw;
            max-width: 576px;
            top: 60px;
            right: 8.35%;
            
            border-radius: 100% 0% 0% 100% / 0% 100% 0% 100%;
            background-color: $darkgrape;
            @media (max-width: 768px) { 
                right: 4.175%; 
               
              }
              @media (max-width: 480px) { // Affichage smartphone
                right: 0; 
                top: 70.67px;
              }
              @media (max-width: 403px) { // Affichage smartphone
                top: 92px;
              }


            &__photo {
                position: relative;
                z-index: 0;
                object-fit: cover;
                width: 40vw;
                max-width: 576px;
                border-radius: 100% 0% 0% 100% / 0% 100% 0% 100% ;
                
            }
        }

    }
    &__badges {
        width: 100%;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
        grid-auto-rows: minmax(100px, 250px); 
        justify-content: center;
        place-items: center; 
        column-gap: 150px;
    }
}