@import './variables.scss';

.project {    
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    background-color: $darkgrape;
    display: flex; justify-content: space-between; flex-direction: column; align-items: center;
    border-radius: 20px;
    &__gallery{

    }
    &__content{
        // display: flex; flex-direction: column; justify-content: space-around;
        padding: 15px;
        &__btn {
            display: flex; justify-content: space-between; flex-direction: row; align-items: center;
        }

    }

}
