@import './variables.scss';

.myWork {
    
    &__title {
        background-color: $darkgrape;
        width: fit-content;
        padding: 15px;
        border-radius: 0px 20px 20px 0px;
        
    }
    &__box {        
        display: grid;
        grid-template-columns: repeat(2, 45%); 
        grid-auto-rows: auto;   
        aspect-ratio: 12/13;

        justify-content: center;
        column-gap: 5%;  
        row-gap: 20px;
        border-radius: 20px;
        @media (max-width: 768px) { 
            grid-template-columns: 1fr; 
            margin: 0px 4.175%;
            row-gap: 5%;
            font-size: 18px;
        }
        
    }
}

