// @import './styles/variables';
// @import './styles/mixins';



html {
  height: 100%;
  // background-color: white;
  max-width: 1440px;
  margin: 0 auto;
  border: 1px solid red;
  position: relative;
}

body {
  // background-color: black;
  margin: 0px 8.35%;
  height: 100%;
  max-width: 1440px;
  // margin: 0 auto;
  border: 1px solid black
}


#root {
  height: 100%;
}

ul {
  list-style-type: none; /* Supprime les puces */
  padding-left: 0; /* Supprime le padding par défaut */
  margin: 0; /* Supprime la marge par défaut */
}

a {
  text-decoration: none; /* Enlève le soulignement par défaut */
  display: block; /* Permet au lien de prendre tout l'espace du <li> */
}


