@import './styles/_variables';
// @import './styles/mixins';


html {
  height: 100%;
  background-color: $lavenderwhite;
  
  max-width: 1440px;
  margin: 0 auto;
  // border: 1px solid red;
  position: relative;
  box-sizing: border-box;
  
}

body {
  margin: 0px 8.35%;
  height: 100%;
  max-width: 1440px;
  @media (max-width: 768px) { // Affichage tablette
    margin: 0px 4.175%; // Supprime la marge sur les côtés
  }

  @media (max-width: 480px) { // Affichage smartphone
    margin: 0px 4.175%;; // Supprime la marge sur les côtés
  }
  

}


#root {
  height: 100%;
}

ul {
  list-style-type: none; /* Supprime les puces */
  padding-left: 0; /* Supprime le padding par défaut */
  margin: 0; /* Supprime la marge par défaut */
}

a {
  text-decoration: none; /* Enlève le soulignement par défaut */
  display: block; /* Permet au lien de prendre tout l'espace du <li> */
  &:hover {
    color: $purple;
    cursor: pointer;
  }
  &:visited {
    color: $purple;
  }                

}

p , li {
  font-family: "Nunito", sans-serif;
  // color: $greyone;
  color: $paleblue;
  // color: black;
}

h1{
  font-family: "Playfair Display", serif;
  color: $yellow;  
  
}

h2 {
  font-family: "Playfair Display", serif;
  color: $paleblue;
  text-decoration: underline;
}

h3 {
  font-family: "Nunito", sans-serif;
  color: $yellow;
  text-decoration: underline;
}


button {
  font-family: "Playfair Display", serif;
  font-weight: 550;
  background-color: $paleblue;
  border: 1px solid $grey;
  padding: 10px;
  border-radius: 50px;
  text-align: center;
  width: fit-content;
  min-width: 105px;
  &:hover {
      cursor: pointer;
  }
}